
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

*{
    transition: 300ms ease-in-out;
}


p{
    font-size: 1em;       
    font-family: 'M PLUS 1p', sans-serif;   
}

.fade-enter-active,.fade-leave-active
{
    transition: opacity 0.25s ease-out;
}

.fade-enter,.fade-leave-to
{
    opacity: 0;
}

.top-nav
{   
    background-color: #353535;
    padding: 5px;      
    width: 100%;
    position: fixed;    
    position: -webkit-fixed;     
    top: 0;
    left: 0;

    display: flex; 
    display:-webkit-flex;           

    justify-content: center;
    -ms-flex-flow: row wrap;        
    flex-flow: row wrap;

    z-index: 99;
    box-shadow: 0px 7px 15px 0px gray; 
    
}

.top-nav a
{
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 20px;
    margin: 0 5px;
    text-align: center;  
    font-family: 'M PLUS 1p', sans-serif;  
    border-bottom: 2px solid #353535;       
}

.top-nav a:hover
{       
    border-bottom: 2px solid white !important;
}

#active
{    
    border-bottom: 2px solid white;
}

.page-container
{
    margin-left: 15%;
    margin-right: 15%;
}

.hero-container
{    
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;    
    margin-top: 200px;
    width: 100%;
    min-height: 60vh;      
}

.hero--image img
{    
    max-width: 200px;
    width: 100%;
    max-height: 200px;
    height: 100%;
    object-fit: cover;
}

.category h2
{
    font-size: 2.5em;
}

.category img
{
    max-width: 650px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    object-fit: cover;
}

.hero--content,.category
{    
    max-width: 700px;
    max-height: 1000px;
    width: 100%;    
    height: auto;
    text-align: left;
    padding: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
    line-height: 1.6;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */    
}

.category
{
    max-height: 100%;
    height: auto;
    
}

.category p
{
    color: gray;
}

.hero--content h1{    
    font-size: 3.5em;
    border-bottom: 2px solid #353535;
    margin-bottom: 10px;
}

.hero--content input[type="text"]
{
    font-size: 1.3em;
    margin-top: 50px;
    outline: none;
    border-style: none;
    border-bottom: 2px solid gray;
    padding: 10px;
    max-width: 700px;
    height: 30px;
    width: 100%;
}

.hero--content input[type="text"]:focus
{
    border-bottom: 2px solid #353535;
}

@media screen and (max-width:900px)
{
    .page-container
    {
        margin-left: 5%;
        margin-right: 5%;
    }

    .hero--content
    {
        margin-left: -3%;
        margin-right: -3%;
    }
    
}
